/* 
    Document   : topbar
    Created on : Apr 5, 2014, 7:56:40 PM
    Author     : nadeeth
    Description:
        Purpose of the stylesheet follows.
*/

.navbar {
    margin-bottom: 0px !important;
    min-height: 10px !important;
    height: 8% !important;
}

