/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2014, 10:04:39 PM
    Author     : nadeeth
*/
#active-grid {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 30px;
  background-repeat: no-repeat;
  overflow: hidden;
}
#active-grid #active-grid-img {
  position: absolute;
  perspective: 1000px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-user-select: none;
}
#active-grid .grid {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  pointer-events: none;
  position: absolute;
}
#active-grid .grid td {
  border: 1px solid red;
}
#active-grid .grid th td {
  padding: 0;
}
.grid-navbar {
  margin-bottom: 0px !important;
  min-height: 10px !important;
  height: 70px !important;
  vertical-align: central !important;
  background-color: #000;
  color: #FFFFFF;
  width: 100%;
}
.grid-navbar .menu-left-wrap {
  width: 20%;
  float: left;
}
.grid-navbar .menu-left-wrap .menu-link-settings {
  background-image: url("../../img/menu.png");
  left: 0;
}
.grid-navbar .menu-left-wrap .menu-link-left {
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 55px;
  height: 40px;
  width: 60px;
  padding: 16px 0 16px 0;
  position: absolute;
}
.grid-navbar .menu-left-wrap h6 {
  font-size: 18px;
  margin-top: 24px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 62px;
}
.grid-navbar .menu-right-wrap {
  width: 20%;
  float: left;
}
.grid-navbar .menu-right-wrap .menu-link-export {
  background-image: url("../../img/save-as-24.png");
  right: 55px;
}
.grid-navbar .menu-right-wrap .menu-link-filter {
  background-image: url("../../img/filter.png");
  right: 0;
}
.grid-navbar .menu-right-wrap .menu-link-right {
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 55px;
  height: 40px;
  width: 60px;
  padding: 16px 0 16px 0;
  position: absolute;
}
#list-section {
  /*overflow-y: hidden !important;*/
  overflow-y: no-display !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.8);
}
#list-section .left-back-button {
  float: right;
  margin-bottom: 5px !important;
  position: absolute;
  right: 10px;
  border: 0;
  border-bottom: 1px solid #818a92 !important;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  text-transform: none;
}
#list-section #add_new {
  overflow-y: hidden;
  min-height: 550px;
}
#list-section #add_new .cols {
  margin-top: 50px;
  width: 48%;
  height: 214px;
  float: left;
  padding: 1%;
}
#list-section #add_new .cols #image_preview {
  width: 100px;
  height: 100px;
  background-color: #969696;
  background-size: cover;
  border: 2px solid #818a92;
  border-radius: 50%;
  margin: 0 auto 22px;
}
#list-section #add_new .cols form label {
  color: #fff;
  font-weight: 300;
  text-transform: none;
  font-size: 12px;
}
#list-section #add_new .cols form .ui-input-text {
  /* jQuery Mobile style class */
  background: transparent;
  border: none;
  box-shadow: none;
}
#list-section #add_new .cols form input {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #818a92;
  height: 33px;
  width: 100%;
}
#list-section #add_new .cols form #color {
  border-bottom: 0;
  /*width: 88%;*/
}
#list-section #add_new .button_wrap {
  float: left;
  height: 100px;
  width: 100%;
  text-align: center;
}
#list-section #add_new .button_wrap button {
  width: 85%;
  height: 88px;
  border-bottom: 1px solid #5e666b;
  border-top: 1px solid #818a92;
  border-left: 0;
  border-right: 0;
  text-align: center;
  font-size: 14px;
  border-radius: 0;
  padding-top: 15px;
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}
#list-section #add_new .button_wrap button span {
  margin-left: 0;
  margin-right: 8px;
}
#filters-section {
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden !important;
  /*    max-width: 500px;
    padding: 5px;
    width: 60%;*/
}
#filters-section .right-back-button {
  float: left;
  margin-bottom: 5px !important;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 0;
  border-bottom: 1px solid #818a92 !important;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  text-transform: none;
}
#filters-section .dg-filter {
  width: 50%;
  height: 100px;
  float: left;
  white-space: normal;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #818a92;
  border-right: 1px solid #818a92;
  border-left: 1px solid #5e666b;
  border-top: 1px solid #5e666b;
  border-radius: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
  font-weight: 300;
  text-transform: none;
  margin: 0;
}
#filters-section .dg-filter:focus,
#filters-section .dg-filter:active,
#filters-section .dg-filter:hover {
  color: #000;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#filters-section .dg-filter[data-dg-filter=""] {
  background-image: url('../../img/filter-no.jpg');
}
#filters-section .dg-filter[data-dg-filter="sepia"] {
  background-image: url('../../img/filter-sepia.jpg');
}
#filters-section .dg-filter[data-dg-filter="vintage"] {
  background-image: url('../../img/filter-vintage.jpg');
}
#filters-section .dg-filter[data-dg-filter="reddish"] {
  background-image: url('../../img/filter-reddish.jpg');
}
#filters-section .dg-filter[data-dg-filter="greenish"] {
  background-image: url('../../img/filter-greenish.jpg');
}
#filters-section .dg-filter[data-dg-filter="grayscale"] {
  background-image: url('../../img/filter-grayscale.jpg');
}
.footer {
  background-color: #000;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}
/* TODO : remove later, after the new color picker added */
.minicolors-position-left .minicolors-panel {
  left: -100px !important;
}
/* Test Mode : Results */
.jasmine_html-reporter {
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */