/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2014, 10:04:39 PM
    Author     : nadeeth
*/
#active-grid {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 30px;
  background-repeat: no-repeat;
  overflow: hidden;
}
#active-grid #active-grid-img {
  position: absolute;
  perspective: 1000px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -webkit-user-select: none;
}
#active-grid .grid {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  pointer-events: none;
  position: absolute;
}
#active-grid .grid td {
  border: 1px solid red;
}
#active-grid .grid th td {
  padding: 0;
}
.grid-navbar {
  margin-bottom: 0px !important;
  min-height: 10px !important;
  height: 70px !important;
  vertical-align: central !important;
  background-color: #000;
  color: #FFFFFF;
}
.grid-navbar .menu-left-wrap {
  width: 20%;
  float: left;
}
.grid-navbar .menu-left-wrap .menu-link-left {
  font-size: 55px;
  padding: 15px;
  width: 65px;
  float: left;
}
.grid-navbar .menu-left-wrap .menu-link-left .icon-bar {
  display: block;
  height: 5px;
  margin: 5px 0 0;
  width: 100%;
  background-color: #FFFFFF;
}
.grid-navbar .menu-middle-wrap {
  text-align: center !important;
  width: 60%;
  float: left;
}
.grid-navbar .menu-middle-wrap h6 {
  font-size: 20px;
  margin-top: 24px;
}
.grid-navbar .menu-right-wrap {
  width: 20%;
  float: left;
}
.grid-navbar .menu-right-wrap .menu-link-right {
  background-image: url("../../img/filter.png");
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 55px;
  height: 40px;
  float: right;
  width: 60px;
  padding: 30px;
}
#list-section {
  overflow-y: hidden !important;
  width: 100% !important;
  padding: 10px;
}
.left-back-button {
  float: right;
  margin-bottom: 5px !important;
  position: absolute;
  right: 10px;
  border: 1px solid #fff !important;
}
#add_new .cols {
  margin-top: 50px;
  width: 50%;
  height: 214px;
  float: left;
  padding: 5px;
}
#add_new .cols #image_preview {
  width: 100%;
  height: 100%;
  background-color: #969696;
  background-size: cover;
  border: 3px solid #fff;
}
#add_new .cols .form-control {
  height: 33px;
  width: 92%;
}
#add_new .cols .form-group label {
  color: #fff;
}
#add_new .cols .form-group #color {
  width: 88%;
}
#add_new .button_wrap {
  float: left;
  height: 100px;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
#add_new .button_wrap button {
  width: 22%;
  height: 75px;
  border: 1px solid #fff;
  font-size: 16px;
}
#add_new button {
  margin-top: 10px;
  margin-left: 5px;
}
.sb-right {
  overflow-y: hidden !important;
  padding: 5px;
}
.right-back-button {
  float: left;
  margin-bottom: 5px !important;
  position: absolute;
  left: 10px;
  border: 1px solid #fff !important;
  top: 10px;
}
.footer {
  background-color: #000;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=styles.css.map */