/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/12/2014, 10:04:39 PM
    Author     : nadeeth
*/

#active-grid {
    width: 100%; 
    position: absolute;
    top: 70px;
    bottom: 30px;
    background-repeat:no-repeat;
    overflow: hidden;
    
    #active-grid-img {
        position: absolute;
    }
    
    .grid {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        pointer-events: none;
        position: absolute;
        td {
            border: 1px solid red;
        }
        th {
            td {
                padding: 0;
            }
        }
    }
}

.grid-navbar {
    
    margin-bottom: 0px !important;
    min-height: 10px !important;
    height: 70px !important;
    vertical-align: central !important;
    background-color: #000;
    color: #FFFFFF;
    
    .menu-left-wrap {
        
        width: 20%;
        float: left;
        
        .menu-link-left {

            font-size: 55px;
            padding: 15px;
            width: 65px;
            float: left;

            .icon-bar {
                display: block;
                height: 5px;
                margin: 5px 0 0;
                width: 100%;
                background-color: #FFFFFF;
            }
        }
    }
    
    .menu-middle-wrap {
        
        text-align: center !important;
        width: 60%;
        float: left;
        
        h6 {
            font-size: 20px;
            margin-top: 24px;
        }
    }
    
    .menu-right-wrap {
        
        width: 20%;
        float: left;
        
        .menu-link-right {
            background-image: url("../../img/filter.png");
            background-position: center center;
            background-repeat: no-repeat;
            font-size: 55px;
            height: 40px;
            float: right;
            width: 60px;
            padding: 30px;
        }
    }
}




//List section
#list-section {
    overflow-y: hidden !important;
    width: 100% !important;
    padding: 10px;
}
.left-back-button {
    float: right;
    margin-bottom: 5px !important;
    position: absolute;
    right: 10px;
    border: 1px solid #fff !important;
}
#add_new {
	
    .cols {
        margin-top: 50px;
        width: 50%;
        height: 214px;
        float: left;
        padding: 5px;

        #image_preview {
            width: 100%;
            height: 100%;
            background-color: #969696;
            background-size: cover;
            border: 3px solid #fff;
        }
        
        .form-control {
            height: 33px;
            width: 92%;
        }
        
        .form-group {
            label {
                color: #fff;
            }
            #color {
                width: 88%;
            }
        }
    }
    
    .button_wrap {
        //border: 1px solid white; 
        float: left;
        height: 100px;
        margin-top: 40px;
        width: 100%;
        text-align: center;
        
        button {
            width: 22%;
            height: 75px;
            border: 1px solid #fff;
            font-size: 16px;
        }
    }
    
    button {
        margin-top: 10px;
        margin-left: 5px;
    }
}

//Filters section
.sb-right {
    overflow-y: hidden !important;
    padding: 5px;
}

.right-back-button {
    float: left;
    margin-bottom: 5px !important;
    position: absolute;
    left: 10px;
    border: 1px solid #fff !important;
    top: 10px;
}

.footer {
    background-color: #000;
    width: 100%; 
    height: 30px;
    position: absolute;
    bottom: 0;
}