/* 
    Document   : topbar
    Created on : Apr 5, 2014, 7:56:40 PM
    Author     : nadeeth
    Description:
        Purpose of the stylesheet follows.
*/

.navicon-line {
    width: 24px;
    height: 4px;
    border-radius: 1px;
    margin-bottom: 3px;
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-left, .navbar-right {
    width: 58px;
    padding: 14px;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
}
